

  .scrollable {
    height: 250px;
    width: 100%;
    overflow-y: scroll;
    padding: 0;
  }
  
  .full-height {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  
  .post {
    width: 90%;
    margin: auto;
  }
  
  .postButton {
    height: 70px;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    margin: 2px;
    background-color: transparent;
  }
  
  #bottomNav {
    background-color: #EAF2F8 ;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .infinite {
    border-width: 0;
    background-color: #EAF2F8;
    height: 50px;
    width: 70px;
  }
  
  .infinite:hover {
    height: 60px;
    width: 80px;
  }
  
  .navbarButton {
    border-width: 2px;
    width: 60px;
    border-radius: 15px;
    height: 40px;
    padding-top: 2px;
    background-color: transparent;
    border-color: #148F77;
    border-style: solid;
  }
  
  .button-container {
    margin: auto;
    text-align: center;
    padding: 0;
  }
  
  .button1:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .button2:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .addIcon {
    height: 40px;
    border-width: 3px;
    border-radius: 20px;
    border-width: 3px;
    border-color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    border-style: solid;
  }
  
  .button1 {
    border-radius: 15px;
    border-width: 3px;
    border-color: #148F77;
    margin: 20px;
    color: #148F77;
    border-style: solid;
  }
  
  .button1:hover {
    border-color: #1D8348;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .full-height {
    height: 100%;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .comment-conatiner {
    margin: 0px 20px 0px 20px;
    background-color: transparent;
  }

  .comment-box {
    background-color: transparent;
  }
  